{% extends "base.html" %}
{% block content %}
<body>
    <center>
    <div class="container py-2">
      <h1 style="text-align: center;" class = "shadow"> CARGA DE ARCHIVO </h1>
    </div>
    <div class="container py-2">
            <form action="/cargar/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <label for = "file" id>...</label><br>
            <input type="file" id="file" name="file" accept="text/xml">
            <br><br>
            <button type="submit" class="btn">ENVIAR</button>
            <button type="submit" class="btn">RESET</button>
            <br><br>
            {% if content %}   
                <textarea label="textarea" name="textarea" rows="20" cols="55" class = "txtA">{{content}}</textarea>
                <textarea label="textarea" name="textarea2" rows="20" cols="55" class = "txtA">{{response}}</textarea>
            {% else %}
                <textarea style="margin-right: 1rem;" label="textarea" name="textarea" rows="20" cols="55" class = "txtA"></textarea>
                <textarea label="textarea" name="textarea2" rows="20" cols="55" class = "txtA"></textarea>
            {% endif %}
            </form>
        </center>
    </div>
</body>

{% endblock content %}